<!--  Team: Madeline, Vandana, Dhruv, Priya
Survey form is displayed in this page
-->


<body class="w3-light-grey" >


	<div class="w3-content" style="max-width: 1400px">

		<header class="w3-container w3-center w3-padding-32">
			<h1>
				<b>Student Survey Form!</b>
			</h1>
			
		</header>

		<div class="w3-row">

			<div style="width: 100%">
				<div class="w3-card-4 w3-margin w3-white">
					<div class="w3-container">
						<h3>
							<b>Prospective Students Survey Form</b>
						</h3>
						<h5>
							Welcome prospective students, please answer the questions below.
							<br>
							<br>
							<span class="w3-opacity">Questions marked <span id="asterisk">*</span> are mandatory.</span>
						</h5>
					</div>

					<div class="w3-container">
						<form #formData="ngForm" name="surveyForm" (ngSubmit)="onSubmit(formData.value)"> 

							<div formGroupName="userDetail">
							<br><b> Q1. Please enter your personal information below. (all fields are required)<span id="asterisk">*</span></b><br>
							<div class="w3-container">
							<table>
								<tbody>
									<tr>
										<td>First Name:<span id="asterisk">*</span></td>
										<td><input id="FirstName" #firstname="ngModel" class="form-control" type="text" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}" required></td>
				
										
									</tr>
									<tr>
										<td>Last Name:<span id="asterisk">*</span></td>
										<td><input type="text" name="LastName" [(ngModel)]="LastName" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>Street Address:<span id="asterisk">*</span></td>
										<td><input type="text" name="StreetAddress" [(ngModel)]="StreetAddress" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>City:<span id="asterisk">*</span></td>
										<td><input type="text" name="City" [(ngModel)]="City" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>State:<span id="asterisk">*</span></td>
										<td><input type="text" name="State" [(ngModel)]="State" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>Zipcode:<span id="asterisk">*</span></td>
										<td><input type="text" name="Zipcode" [(ngModel)]="Zipcode" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>Telephone Number:<span id="asterisk">*</span></td>
										<td><input type="text" name="Phone" [(ngModel)]="Phone" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>E-mail:<span id="asterisk">*</span>:</td>
										<td><input type="text" name="Email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" required></td>
									</tr>
									<tr>
										<td>Today's date (Ex. 01/01/2021):<span id="asterisk">*</span></td>
										<td><input type="text" name="Date" [(ngModel)]="Date" [ngModelOptions]="{standalone: true}" required></td>

									</tr>
								</tbody>
							</table>
							</div>
							
							<br><b> Q2. What did you like most about the campus? (select 1 or more checkboxes from below)</b> 
								
								
								<label for="favoriteOptions"></label>
								<div *ngFor="let option of favoriteOptions; let i = index">
									<label>
										<input type="checkbox"
											name="options_{{i}}"
											value="{{option.value}}"
											[(ngModel)]="option.checked"/>
										{{option.name}}
									</label>
								</div>

							<br><b>Q3. How did you become interested in the university? (select from the radio buttons below) </b>
								<div class="w3-container"><div class="w3-container">
								<input type="radio" name="Q3" id="Friends" value="Friends"  [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="Friends">Friends</label>
								<br /> 
								<input type="radio" name="Q3" id="Television" value="Television"  [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="Television">Television</label>
								<br /> 
								<input type="radio" name="Q3" id="Internet" value="Internet" [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="Internet">Internet</label> 
								<br />
								<input type="radio" name="Q3" id="College Fairs" value="College Fairs"  [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="College Fair">College Fair</label> 
								<br /> 
								<input type="radio" name="Q3" id="Teachers/Professionals" value="Teachers/Professionals"  [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="Teachers/Professionals">Teachers/Professionals</label> 
								<br />
								<input type="radio" name="Q3" id="Other" value="Other"  [(ngModel)]="interest" [ngModelOptions]="{standalone: true}"/> 
								<label for="Other">Other</label> 
								<div class="w3-container"><div id="textbox" style="display: none"> Please specify: <input type="text" id="textbox"  /></div>
								</div>
								</div>
								</div>
								
							<br><b>Q4. How likely are you to recommend this school to other prospective students? (choose an option from the dropdown list below)</b> 
								<br> 
								<div class="w3-container"><div class="w3-container">
								<select name="Options" id="Options" [(ngModel)]="recommendation" [ngModelOptions]="{standalone: true}" required>
									<option style="display:none" selected="selected" value="">Click here for options </option>
									<option value="Very Likely">Very Likely</option>
									<option value="Likely">Likely</option>
									<option value="Unlikely">Unlikely</option>
								</select> 
								</div></div>
							
							<br><b>Q5. You have a chance to win a raffle for a free movie ticket!</b> 
								<br> 
								<div class="w3-container"><div class="w3-container">
								Please enter at least 10 comma separated numbers ranging from 1 through a 100. (Ex: 1,2,3,4,5,6,7,8,9,10)<br>
								<table>
									<tbody>
										<tr>
											<td>Raffle:</td>
											<td><input type="text" name="Raffle" [(ngModel)]="raffle" [ngModelOptions]="{standalone: true}" required></td>
										</tr>
									</tbody>
								</table>
								</div></div>
							<br>
							
							<p><b>Additional Comments, Suggestions, and Concerns:</b></p>
							<textarea rows="4" cols="40" id=“Comments” [(ngModel)]="comments" [ngModelOptions]="{standalone: true}" required></textarea>
							
							<br/> <br />
							<p>Select "Submit Answers" to submit your responses. Select "Cancel" to clear your responses. </p>
							
							<button type="submit" [disabled]="!LastName||!FirstName||!StreetAddress||!City||!Zipcode||!Phone||!Email||!Date||!interest||!recommendation||!raffle||!comments"> Submit Answers</button>
							<br /> <br />
							<button type=reset>Cancel</button>
							<br /> <br />
						</div>
						</form>
					
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="w3-container">

	<p>We hope your enjoy your time at our university! Welcome!</p>
	<h3 style="text-align: center;color: black;" class="w3-jumbo w3-animate-top">Team: Vandana Keshavamurthy, Dhruv Rami, Madeline Fredriksz, Priya Ravichander</h3>

	<div class="w3-row"></div>
</div>
<hr>




</body>