/* Team: Madeline, Vandana, Dhruv, Priya 
CSS for homepage
*/
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('gmu_homepage.jpeg');
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 98%;
    height: 97%;
}