<!-- Vandana, Dhruv, Madeline, Priya -->
<!-- Home page with links to the survey form and list of survey records-->








<!-- <title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> -->

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    SWE-645
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"><a routerLink="/surveyform" >go to survey form </a></h1>
    <!-- <hr class="w3-border-grey" style="margin:auto;width:40%"> -->
    <h1 class="w3-jumbo w3-animate-top"><a routerLink="/surveyrecords" >go to survey records </a></h1>
  </div>
 
</div>
</body>



<router-outlet></router-outlet>
