<!--  Team: Madeline, Vandana, Dhruv, Priya
Sucess reedirection page
-->
<html>
<body>
<div style="width:100%; height:100%;text-align: center;font-size: 60px;">
    <p>Thank you!</p>
    <p> Survey submitted successfully. </p><p>
        <button (click)="router.navigate(['/homepage']);" style="background-color: cadetblue;">
            <span>Go to home Page</span>
         </button></div>

         <h3 style="text-align: center;color: black;" class="w3-jumbo w3-animate-top">Team: Vandana Keshavamurthy, Dhruv Rami, Madeline Fredriksz, Priya Ravichander</h3>
  
</body>
</html>